* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	padding: 0;
	border: none;
}

/* Custom properties */
:root {
	--light-clr: #dfdfdf;
	--orange-clr: #ed6930;
	--orange-soft: rgba(248, 195, 173, 0.22);
	--bg-clr: #0d141c;
}

body {
	background-color: var(--bg-clr);
	font-size: 16px;
	height: 100vh;
}

.cloud img {
	width: 50%;
	opacity: 5%;
	bottom: 10%;
	left: 5%;
	position: absolute;
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0);
	opacity: 0.9;
	z-index: 3;
}

.hidden {
	display: none;
}

.spinner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	place-items: center;
}

.spinner::after {
	content: '';
	height: 100px;
	width: 100px;
	/* display: block; */
	border: 5px solid var(--light-clr);
	border-radius: 100%;
	border-top: 6px solid var(--orange-clr);
	animation: rotate 1s infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.container {
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.container.blur {
	filter: blur(8px);
}

.container__col1 {
	width: 50%;
	min-width: 20em;
	padding-top: 5rem;
	padding-bottom: 2em;
	padding-left: 5em;
	background-color: #fff;
}

.container__col1 .title {
	color: var(--bg-clr);
	font-family: 'Roboto Mono';
	font-weight: 700;
	font-size: 4em;
	position: relative;
}

.container__col1 .title::before {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 0.3em;
	top: 0;
	left: -0.5em;
	background-color: var(--orange-clr);
}

.container__col1 .title span {
	color: var(--orange-clr);
}

.container__col1.container__col1--active {
	background-image: url(bg_cover.png);
	background-size: cover;
	background-position: center;
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
}

.container__col1--active .card {
	display: flex;
	flex-direction: column;
	font-family: 'Cantarell';
	color: #fff;
	height: 50%;
	width: 50%;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.container__col1--active .card:before {
	background-color: rgba(0, 0, 0, 20%);
	backdrop-filter: blur(5px);
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
}

.container__col1--active .card .day {
	font-weight: 700;
	font-size: 50px;
}

.container__col1--active .card .date {
	font-weight: 400;
	font-size: 30px;
}

.container__col1--active .card .temp {
	font-weight: 700;
	font-size: 96px;
}

.container__col1--active .card .city {
	font-weight: 700;
	font-size: 64px;
}

.container__col2 {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 5rem;
	padding-bottom: 2em;
	padding-right: 5em;
	padding-left: 5em;
}

.form {
	display: flex;
	flex-direction: column;
}

.input {
	resize: none;
	border: 1px solid var(--light-clr);
	background-color: transparent;
	font-family: 'Inconsolata';
	font-size: 1.5rem;
	font-weight: 300;
	white-space: nowrap;
	padding: 0.8em;
	color: #fff;
	margin-bottom: 1rem;
	width: 100%;
	overflow: hidden;
}

.input:focus-visible {
	border: none;
	outline-style: solid;
	outline-width: 2px;
	outline-color: var(--orange-clr);
}

.input:focus-visible::placeholder {
	color: #fff;
}

.input::placeholder {
	color: var(--orange-soft);
}

.form__label {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: #fff;
	margin-bottom: 0.8em;
	white-space: nowrap;
}

.form__label span {
	color: var(--orange-clr);
}

.form #zip {
	height: 2.375em;
}

.form #feelings {
	height: 7rem;
}

.form__btn {
	height: 7.375rem;
	width: 100%;
	background-color: var(--orange-clr);
	border: none;
	color: var(--bg-clr);
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: calc(2rem + 0.5vw);
	height: 6rem;
	transition: 0.5s;
}

.form__btn:hover {
	cursor: pointer;
	background-color: var(--light-clr);
	letter-spacing: 2px;
}

.holder {
	margin-top: 1em;
	font-family: 'Inconsolata', sans-serif;
	color: var(--light-clr);
	text-align: right;
}

.holder .title {
	font-weight: 400;
	font-size: 1.3rem;
	white-space: nowrap;
}

/* Errors */
.error {
	font-family: 'Inconsolata', sans-serif;
	font-size: 1rem;
	color: #e02020;
}

.api-error {
	display: none;
}

.api-error.api-error--active {
	display: block;
	width: 50%;
	height: 20%;
	background-color: rgb(13 20 28 / 80%);
	box-shadow: 0 0 20px rgb(0 0 0 / 58%);
	position: absolute;
	z-index: 5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
